@page
@model EstoqueWeb.Pages.PageUsuario.DetailsModel
@{
    ViewData["Title"] = "Detalhes do Usuário";
}

<div class="container-crud">
    <h1 class="mb-4 text-primary">Detalhes do Usuário</h1>

    <div class="card-crud">
        <h4>@Model.Usuario.Nome</h4>
        <hr />

        <dl class="row">
            <dt class="col-sm-3">Nome</dt>
            <dd class="col-sm-9">@Model.Usuario.Nome</dd>

            <dt class="col-sm-3">Email</dt>
            <dd class="col-sm-9">@Model.Usuario.Email</dd>
        </dl>

        <div class="mt-4">
            <a asp-page="./Edit" asp-route-id="@Model.Usuario.Id" class="btn btn-edit">
                <i class="fas fa-edit"></i> Editar
            </a>
            <a asp-page="./Index" class="btn btn-secondary">
                <i class="fas fa-arrow-left"></i> Voltar
            </a>
        </div>
    </div>
</div>