@page
@model EstoqueWeb.Pages.PageProduto.EditModel
@{
    ViewData["Title"] = "Editar Produto";
}

<div class="container-crud">
    <h1 class="mb-4 text-primary">Editar Produto</h1>

    <form method="post" class="form-crud">
        <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
        <input type="hidden" asp-for="Produto.Id" />

        <div class="form-group">
            <label asp-for="Produto.Nome" class="font-weight-bold">Nome <span class="text-danger">*</span></label>
            <input asp-for="Produto.Nome" class="form-control" placeholder="Digite o nome" />
            <span asp-validation-for="Produto.Nome" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Produto.Descricao" class="font-weight-bold">Descrição</label>
            <input asp-for="Produto.Descricao" class="form-control" placeholder="Digite a descrição" />
            <span asp-validation-for="Produto.Descricao" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Produto.QuantidadeDisponivel" class="font-weight-bold">Quantidade Disponível <span class="text-danger">*</span></label>
            <input asp-for="Produto.QuantidadeDisponivel" class="form-control" placeholder="Digite a quantidade" />
            <span asp-validation-for="Produto.QuantidadeDisponivel" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Produto.EstoqueId" class="font-weight-bold">Estoque <span class="text-danger">*</span></label>
            <select asp-for="Produto.EstoqueId" class="form-control" asp-items="ViewBag.EstoqueId"></select>
            <span asp-validation-for="Produto.EstoqueId" class="text-danger"></span>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-submit">
                <i class="fas fa-save"></i> Salvar
            </button>
            <a asp-page="./Index" class="btn btn-secondary">
                <i class="fas fa-arrow-left"></i> Voltar
            </a>
        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}