@page
@model EstoqueWeb.Pages.PageMovimentacoes.EditModel
@{
    ViewData["Title"] = "Editar Movimentação";
}

<div class="container-crud">
    @if (TempData["Sucesso"] != null)
    {
        <div class="alert alert-success alert-temporaria show" role="alert">
            @TempData["Sucesso"]
        </div>
    }
    <h1 class="mb-4 text-primary">Editar Movimentação</h1>

    <form method="post" class="form-crud">
        <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
        <input type="hidden" asp-for="SaidaEntradaProduto.Id" />

        <div class="form-group">
            <label asp-for="SaidaEntradaProduto.TipoOperacao" class="font-weight-bold">Tipo de Operação <span class="text-danger">*</span></label>
            <input asp-for="SaidaEntradaProduto.TipoOperacao" class="form-control" placeholder="Digite o tipo de operação" />
            <span asp-validation-for="SaidaEntradaProduto.TipoOperacao" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="SaidaEntradaProduto.Quantidade" class="font-weight-bold">Quantidade <span class="text-danger">*</span></label>
            <input asp-for="SaidaEntradaProduto.Quantidade" class="form-control" placeholder="Digite a quantidade" />
            <span asp-validation-for="SaidaEntradaProduto.Quantidade" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="SaidaEntradaProduto.DataOperacao" class="font-weight-bold">Data da Operação</label>
            <input asp-for="SaidaEntradaProduto.DataOperacao" class="form-control" />
            <span asp-validation-for="SaidaEntradaProduto.DataOperacao" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="SaidaEntradaProduto.ProdutoId" class="font-weight-bold">Produto <span class="text-danger">*</span></label>
            <select asp-for="SaidaEntradaProduto.ProdutoId" class="form-control" asp-items="ViewBag.ProdutoId"></select>
            <span asp-validation-for="SaidaEntradaProduto.ProdutoId" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="SaidaEntradaProduto.EstoqueId" class="font-weight-bold">Estoque <span class="text-danger">*</span></label>
            <select asp-for="SaidaEntradaProduto.EstoqueId" class="form-control" asp-items="ViewBag.EstoqueId"></select>
            <span asp-validation-for="SaidaEntradaProduto.EstoqueId" class="text-danger"></span>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-submit">
                <i class="fas fa-save"></i> Salvar
            </button>
            <a asp-page="./Index" class="btn btn-secondary">
                <i class="fas fa-arrow-left"></i> Voltar
            </a>
        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}